@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @* <h1 class="display-4">Welcome to the new fire</h1> *@
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <h1>EcoEnergy Soluctions</h1>
    <p></p>
    <img src="Image/image.png"/>
</div>
